<h1>You are in</h1>
<h2>this is the home</h2>

<section class="users-list">
    {{#each lastScripts}}
        {{#if username}}
            <a>
                <div class="perfiles">
                    <p>{{username}}</p>
                </div>
            </a>
        {{/if}}
    {{/each}}
</section>