<h1></h1>
{{>logo}}
<section>
    <form action="/auth/login" method="POST" class="login">
        <label>Username:
            <input type="text" name="username" id="username" required placeholder="Username">
        </label>
        <label>Password:
            <input type="password" name="password" id="password" required placeholder="Password">
        </label>
        <button type="submit">go go go!!</button>
    </form>
</section>
<a href="/auth/signup">Signup</a>
