<h2>You must make some error</h2>

<section>
    <form action="/auth/login" method="POST">
        <label>Username:
            <input type="text" name="username" id="username" required value="{{name.[0]}}">
        </label>
        <label>Password:
            <input type="password" name="password" id="password" required placeholder="Password">
        </label>
        <button type="submit">Signup!!</button>
    </form>
    {{#if messages.length}}
        <ul class="validation">
            <li>{{messages.[0]}}</li>
        </ul>
    {{/if}}
    {{#if password.length}}
        <ul class="validation">
            <li>{{password.[0]}}</li>
        </ul>
    {{/if}}
</section>
<a href="/">back</a>